:root{
    --yellow: #fdbe02;
    --white: #f7f7f7;
    --dark-red: #B02829;
    --grey: #9b9999;
    --black: #191715;
}

.text-primary{
    color: var(--dark-red) !important;
}

.text-white{
    color: var(--white) !important;
}

.text-shadow{
    text-shadow: 0px 3px 6px #000000BA;
}